doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/othello.css')
    script(src='http://fb.me/react-with-addons-0.12.1.js')
    script(src='http://fb.me/JSXTransformer-0.12.1.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  body
    block content
