#board {
    background-color: #7d3c1b;
    boarder: 2em solid #000000;
    padding: 1em 1em 1em 1em;
    boarder-collapse: separate;
    boarder-spacing: 2em;
}

.cell {
    background-color: #639565;
    position: relative;
    width:   3em;
    height:  3em;
    padding:  1em 1em 1em 1em;
    text-align:  center;
}

.cell > .white {
    display: inline-block;
    border-radius: 3em;
    width: 3em;
    height: 3em;

    background: #ffffff;
}

.cell > .black {
    display: inline-block;
    border-radius: 3em;
    width: 3em;
    height: 3em;

    background: #000000;
}
